<div class="modal" type="text/ng-template">

    <!-- Modal header bar -->
    <ion-header-bar class="action-bar" >
        <button class="button button-clear button-dark" ng-click="closeAbout()">
            Voltar
        </button>
        <h1 class="title action-bar-icon" align="center" >Sobre</h1>
        <!-- New Task button-->
    </ion-header-bar>

    <ion-content>

        <ion-list class="wrapping-list">
            <div class="item item-divider">
                Aplicativo
            </div>
            <ion-item class="item item-text-wrap">
                Este Aplicativo Móvel foi desenvolvido como produto para avaliação da disciplina Projeto de Conclusão de
                Curso do curso de Design da Universidade Federal de Santa Catarina.
            </ion-item>
            <div class="item item-divider">
                Contato
            </div>
            <ion-item>
                Nome: João Filipe Dalla Rosa
            </ion-item>
            <ion-item>
                Email: joaofilipedallarosa@gmail.com
            </ion-item>

        </ion-list>

    </ion-content>

</div>
